.grid_controls {
  text-align: center;

}

.button {
  position: absolute;
  top: 50%;
}

.box {
    margin:0;
    border:1px solid lightblue;
    box-sizing:border-box;
    float:left;
}

.container{
    padding:5px;
}


/*=================
General
=================*/

body {
    background: white;
}

/*=================
Sketchpad Holder
=================*/
.container {
    width: 500px;
    height: 400px;
    background-color: none;
    overflow: hidden;
    margin: auto;
    position: relative;
    top: 20px;
}

.box {
    background: white;
    position: relative;
}


.clear {
    position: relative;
    margin: auto;
    text-align: center;
}

.box.black {
  background-color: #000;
} 
