.container {
  padding: 5px;
  width: 500px;
    height: 400px;
    background-color: none;
    overflow: hidden;
    margin: auto;
    position: relative;
    top: 20px;
}
.box {
  border: 1px solid lightblue;
  box-sizing: border-box;
  margin: 0px;
  float: left;
  background: white;
  position: relative;
}

.clear {
    position: relative;
    margin: auto;
    text-align: center;
}

body {
  background: white;
}
